.custom-btn  {
    background-color: #e74c3c;
    color: white;
    padding: 0.6rem 1.8rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: #c0392b;
}

.btn-carrito {
    background-color: #27ae60;
}